
{{>admin_header}}


<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Products Table</h6>
        <div class="table-responsive">
            <table class="table" id="table">
                <thead>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">operation</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        {{!-- <th scope="row">1</th> --}}
                        <td>{{this.name}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.description}}</td>
                        <td><img style="width: 50px;height:50px" src="/product_image/{{this._id}}.jpg"
                                alt="product image"></td>
                        <td><a href="edit_product/{{this._id}}" class="btn btn-primary">Edit</a> 
                        <button type="button" class="btn btn-danger"
                                onclick="deleteThisProduct('{{this._id}}','{{this.name}}')">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Table End -->

{{!-- Sweet Alert --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function deleteThisProduct(id,name) {
        swal({
            title: "",
            text: `Are you sure to delete This Product "${name}" Permenently ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: `delete_product/${id}`,
                    method: 'get'

                })

                swal("", "Product Deleted", "success").then(() => {
                    location.reload()
                })
            }
        })

    }


</script>
{{>admin_footer}}