{{>user_header}}

<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-borderless text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>




                <tbody class="align-middle">
                    {{#each products}}
                    <tr>
                        <td class="align-middle"><img src="/product_image/{{this.product._id}}.jpg" alt=""
                                style="width: 50px;"></td>
                        <td class="align-middle">{{this.product.name}}</td>
                        <td class="align-middle">Rs.
                            {{#if
                            this.product.offerPrice}}{{this.product.offerPrice}}{{else}}{{this.product.price}}{{/if}}
                        </td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto"
                                style="width: 100px; display:flex;justify-content: center; align-items: center;">

                                <div class="input-group-btn minusContainer">
                                    <button class="btn btn-primary btn-minus mr-1 px-1 py-0" style="height: 1.5rem;"
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">
                                        <i class="fa fa-minus" style="font-size:15px;"></i>
                                    </button>
                                </div>
                                <span id="quantity">
                                    <span class="mx-2 count" id="{{this.product._id}}">{{this.quantity}}</span>
                                </span>
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus ml-1 px-1 py-0"
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">
                                        <i class="fa fa-plus" style="font-size:15px;"></i>
                                    </button>
                                </div>
                            </div>
                        </td>

                        <td class="align-middle unique">{{this.total}}</td>

                        <td class="align-middle"><button class="btn btn-sm btn-danger"
                                onclick="removeCartItem('{{this._id}}','{{this.product._id}}')"><i
                                    class="fa fa-times"></i></button></td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">

            {{!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart
                    Summary</span></h5> --}}
            <div class="p-30 mb-5">
                <div class="border-bottom pb-2">
                    {{!-- <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$150</h6>
                    </div> --}}
                    {{#each products}}
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">{{this.product.name}} {{this.product.price}} X <span
                                id="{{this.product._id}}1">{{this.quantity}}</span></h6>
                        <h6 class="font-weight-medium unique1">Rs.{{this.total}} </h6>
                    </div>
                    {{/each}}
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping Fee</span></h6>
                        <h6 class="font-weight-medium unique1">Rs. 0</h6>
                    </div>

                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>Rs <span id="grantTotal">{{grantTotal}}</span></h5>
                        {{!-- {{grantTotal}} --}}
                    </div>
                    <div style="margin-top:15vh">
                        <a href="/checkout" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To
                            Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
<script>

    let a = document.getElementsByClassName('minusContainer')
    let b = document.getElementsByClassName('count')
    for (let i = 0; i < a.length; ++i) {
        if (b[i].innerHTML == 1) {
            a[i].style.visibility = "hidden";
        }
    }

        
    function changeQuantity(cartId, productId, count) {
       let quantity = parseInt(document.getElementById(productId).innerHTML)
       let quantity1 = parseInt(document.getElementById(`${productId}1`).innerHTML)
       let unique = document.getElementsByClassName('unique')
       let unique1 = document.getElementsByClassName('unique1')     
       $.ajax({
         url: '/change-product-quantity',
         data: {
             cartId: cartId,
             productId: productId,
             count: count             
         },
         method: 'post',
         success: (response) => {
             if (response.countErorr) {
                 location.reload()   
             } else if (response.removeProduct) {
                 swal("", "Cart Item Removed", "success").then(() => {
                     location.reload()
                 })
             } else {  
                //updateAllValues'
                 $.ajax({
                     url: '/updateAllValues',
                     method: 'post',
                     success: (response) => {
                           for (i = 0; i < unique.length; ++i) {
                             unique[i].innerHTML = response.rates[i]
                             unique1[i].innerHTML = response.rates[i]
                           }
                           document.getElementById('grantTotal').innerHTML = response.grantTotal;
                         let a = document.getElementsByClassName('minusContainer')
                         let b = document.getElementsByClassName('count')
                         for (let i = 0; i < a.length; ++i) {
                             if (b[i].innerHTML == 1) {
                                 a[i].style.visibility = "hidden";
                             } else {
                                 a[i].style.visibility = "visible";
                             }
                         }
                       
                      }
                 })
                // location.reload()
                 document.getElementById(productId).innerHTML = quantity + count;
                         document.getElementById(`${productId}1`).innerHTML = quantity + count;
           }
         }
     })

    }





    function removeCartItem(cartId, productId) {
        swal({
            title: "",
            text: `Are you sure to delete ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/removeCartItem',
                    data: {
                        cartId: cartId,
                        productId: productId
                    },
                    method: 'post',
                    success: (response) => {
                        if (response.delete) {
                            //alert("Product Removed from Cart")
                            swal("", "Cart Item Removed", "success").then(() => {
                                location.reload()
                            })
                        }
                    }
                })

            }
        })

    }



</script>

{{>user_footer}}