{{>user_header}}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" type="text/javascript"></script>

<style>
    .hide {
        display: none;
    }
    .inline-block{
        display:inline-block;
    }
    .nav-link{
        border: none;
        
    }
   
</style>

<!-- Shop Start -->









<div class="container-fluid mt-2">
    <div class="row px-xl-5"> 
        <!-- Shop Sidebar Start -->
        <div class="col-md-4">          
<label for="referenceId">Reference ID</label><br>
<input type="text" id="referenceId" class="form-control" style="width:250px;display: inline-block;" value="{{walletDetails.myReferelId}}">
<button class="btn btn-success" onclick="getTextCopied()" id="copyButtom">copy</button><br>
<br>
<label for="walletBalance">Wallet Balance : </label> &#8377;{{walletDetails.balance}}
                                        
<div class="sidebar pe-4 pb-3" style="margin-top: 40px;">
            <nav class="navbar  navbar-light" style="justify-content: center;">
                <div class="navbar-nav w-90">

                    <button class="nav-link" onclick="manageAddress()" style="padding: 15px 25px;" id="manageAddressButton">Manage Address</button>               
                    <button onclick="profileInformations()" class=" nav-link" style="padding: 15px 25px;">Profile Informations</button>
                    <button onclick="changePassword()" class="nav-link" >Change password</button>
                    <button onclick="coupons()" class="nav-link" >Coupons</button>
                    
                </div>
            </nav>
        </div>







        </div>
        <!-- Shop Sidebar End -->

        <div class="col-md-8">


            <script>

                
                function coupons(){
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    let coupons = document.getElementById('coupons')
                    manageAddress.classList.add('hide')
                    profileInfo.classList.add('hide')
                    changePassword.classList.add('hide')
                    coupons.classList.remove('hide')
                }
                function changePassword() {
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    let coupons = document.getElementById('coupons')
                    coupons.classList.add('hide')
                    manageAddress.classList.add('hide')
                    profileInfo.classList.add('hide')
                    changePassword.classList.remove('hide')
                }
                function profileInformations() {
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    let coupons = document.getElementById('coupons')
                    coupons.classList.add('hide')
                    manageAddress.classList.add('hide')
                    profileInfo.classList.remove('hide')
                    changePassword.classList.add('hide')
                }
                function manageAddress() {
                    
                  //  document.getElementById('manageAddressButton').style.background="blue"
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    let coupons = document.getElementById('coupons')
                    coupons.classList.add('hide')
                    manageAddress.classList.remove('hide')
                    profileInfo.classList.add('hide')
                    changePassword.classList.add('hide')

                }
                function show() {
                    let addAddress = document.getElementById('addAddress')
                    addAddress.classList.remove('hide')
                }
            </script>




            {{!-- manage Address --}}
            <div>
                
                <div id="manageAddress">
                  {{#if address}}  <h3><u>Manage Address</u></h3><br> {{else}} <div class="alert alert-info" role="alert">
  Please Add Address
</div>{{/if}}

                    {{!-- Add address --}}
                    <div>
                        <button class="btn btn-primary" id="addAddressBtn" onclick="show()">Add Address</button>
                        <div class="hide" id="addAddress">
                            <form action="/addAddress" method="post" id="addAddress">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Enter Address</label>
                                    <textarea class="form-control" id="" rows="3" cols="35" name="address" id="newAddingAddress"></textarea>
                                </div>
                                <br>
                                <button class="btn btn-success" type="submit">Submit</button>
                            </form>
                        </div>

                    </div>


                    {{!-- show existing addresses --}}
                    {{#if address}}
                    <br>
                    <h3 style="margin-top:25px;"><u>Existing Addresses</u></h3>
                    <br>
                    {{/if}}
                    {{#each address}}


                    <div style="margin-bottom:20px;">

                    <div id="id{{this}}" class="inline-block" style="width:100%;">
                   
                    <label for="" class="mr-5">{{this}}</label>
                    <span style="float:right;">
                    <button class="btn btn-primary mx-2" onclick="showAddressEditOption('{{this}}')">Edit</button>
                    <button type="button" onclick="deleteThisAddress('{{this}}')" class="btn btn-danger" style="margin-right:1rem;">Delete</button>
                    </span>
                    </div>

                        <form action="/editAddress" method="post" class="hide" id="{{this}}">

                            <div class="form-group ">

                                <textarea name="newaddress" class="form-control" id="" rows="3" cols="35">{{this}}
                                        </textarea>
                                <textarea name="oldaddress" class="form-control hide" id="" rows="3">
                                            {{this}}
                                </textarea>

                            </div>
                            <br>

                            <button type="submit" class="btn btn-success">Save</button>
                            <a class="btn btn-primary mx-2" onclick="hideAddressEditOption('{{this}}')">Cancel</a>

                            {{!-- <button type="button" onclick="deleteThisAddress('{{this}}')" class="btn btn-danger">Delete</button> --}}
                        </form>



                    </div>
                    {{/each}}

                   

                </div>

                <script>
                    function showAddressEditOption(id){
                        document.getElementById(id).classList.remove('hide')
                        document.getElementById(id).classList.add('inline-block')
                        document.getElementById(`id${id}`).classList.add('hide')
                        document.getElementById(`id${id}`).classList.remove('inline-block')
                    }
                    function hideAddressEditOption(id){
                        document.getElementById(id).classList.add('hide')
                        document.getElementById(id).classList.remove('inline-block')
                        document.getElementById(`id${id}`).classList.remove('hide')
                        document.getElementById(`id${id}`).classList.add('inline-block')
                    }
                </script>






                <div id="profileInfo" class="hide">
                    <section>
                        <div class="container mt-4">
                            <div class="row">

                                <div class="col-md-6">


                                    <h2><u>Edit Information</u></h2>
                                    <form action="/editpersonaldetails" id="editPersonalDetailsForm" method="post">
                                        
                                        <label for="name">Name</label>
                                        <input type="text" name="username" id="username" class="form-control" value="{{user.username}}" onkeyup="validateName()" autocomplete="off">
                                        <p class="alert alert-danger" id="name-error" style="display: none; width:100%"></p>


                                        <label for="category">Gmail</label>
                                        <input type="text" name="email" id="email" class="form-control" value="{{user.email}}" onkeyup="validateEmail()" autocomplete="off">
                                        <p class="alert alert-danger" id="email-error" style="display: none; width:100%"></p>


                                        <label for="price">Number</label>
                                        <input type="number" name="number" id="number" class="form-control" value="{{user.number}}" onkeyup="validatePhone()" autocomplete="off"> 
                                        <p class="alert alert-danger" id="phone-error" style="display: none;width:100%"></p> 


                                        <button type="submit" class="btn btn-primary mt-4">Save</button>

                                    </form>
                                </div>


                            </div>


                        </div>
                    </section>
                </div>

                <div class="hide" id="changePassword">


                    <h2 style="margin-top:20px;"><u>Change Password</u></h2>
                    <div class="col-md-6">

                        <form action="/changepassword" id="changePasswordForm" method="post">
                            <label for="name">Current Password</label>
                            <input type="password" id="existingPassword" name="existingpassword" class="form-control" onfocusout="passwordFormValidatePassword('existingPassword','existingPasswordError')">
                            <p class="alert alert-danger" id="existingPasswordError" style="display: none; width:100%"></p>


                            <label for="category">New Password</label>
                            <input type="password" id="newPassword" name="newpassword" class="form-control" onfocusout="passwordFormValidatePassword('newPassword','newPasswordError')">
                            <p class="alert alert-danger" id="newPasswordError" style="display: none; width:100%"></p>


                            <label for="price">Conform New Password</label>
                            <input type="password" id="conformPassword" name="conformpassword" class="form-control"  onfocusout="checkConformPassword('conformPassword','conformPasswordError','newPassword')">
                            <p class="alert alert-danger" id="conformPasswordError" style="display: none; width:100%"></p>


                            <button type="submit" class="btn btn-success mt-4">Change Password</button>

                        </form>
                    </div>

                </div>

                <div class="container-fluid hide pt-4 px-4" id="coupons">
                   {{#if availableCoupons}} <h2>Available Coupons</h2> {{else}}<div class="alert alert-warning" role="alert">No Coupons Available<div><br>{{/if}}
                    <div class="row g-4">
                        {{#each availableCoupons}}

                        <div class="col-sm-6 col-xl-4">
                            <div class="bg-light rounded " style="padding:15px">
                                <div class="d-flex ">
                                {{!-- <i class="fa fa-chart-line fa-3x text-primary"></i> --}}
                                <p class="mb-2 mr-2" style="font-size:larger;font-weight:bolder">{{this.couponName}}</p>
                                <p class="m-0 ml-2 customBadge" style="font-weight:400;color:#24dd3b;background-color:#f8f9fa;">{{this.offer}}%OFF</p>
                                </div>
                                <p>Offer upto Rs. {{this.offerUpto}}</p>
                                <p>Offer Expire On <span class="offerExpire" style="color: rgb(230, 41, 41);">{{this.offerExpire}}</span></p>

                            </div>
                        </div>
                        
                        {{/each}}
                        </div>
                        {{#if usedCoupons}}
                        <h2 class="mt-4">Used Coupons</h2>
                        <div class="row g-4">
                            {{#each usedCoupons}}
                            <div class="col-sm-6 col-xl-4">
                                <div class="bg-light rounded justify-content-center d-flex p-4">
                                    {{!-- <i class="fa fa-chart-line fa-3x text-primary"></i> --}}
                                    <h3 class="mb-2 mr-2">{{this.couponName}}</h3>
                                    <p class="m-0 ml-2 customBadge" style="font-weight:400;color:#24dd3b;background-color:#f8f9fa;">{{this.offer}}%OFF</p>

                                </div>
                            </div>
                            
                            {{/each}}
                        </div>
                        {{/if}}
                </div>



            </div>








        </div>
    </div>
</div>
<!-- Shop End -->



<script>

let offerExpireDates = document.getElementsByClassName("offerExpire");
for(let i=0;i<offerExpireDates.length;++i){
offerExpireDates[i].innerText=moment(offerExpireDates[i].innerText).format('MMM Do YY')
}

function getTextCopied(){
    let inputField = document.getElementById('referenceId');
    inputField.select();
    inputField.setSelectionRange(0,9999);
    document.execCommand("copy")
    document.getElementById('copyButtom').innerText = "copied"

    }







const form = document.getElementById('editPersonalDetailsForm')
var nameErr = document.getElementById('name-error');
var emailErr = document.getElementById('email-error');
var phoneErr = document.getElementById('phone-error');


function validateName(){
    var name = document.getElementById('username').value;
    nameErr.style.display = 'block';

    if(name.length == 0) {
        nameErr.innerHTML = 'Name is required';
        return false;
    }


    if(!name.match(/^[A-Za-z]*$/)){
        nameErr.innerHTML = 'Enter Valid name';
        return false;

    }
    nameErr.innerHTML = ''; 
    nameErr.style.display = 'none';
    return true;
}

function validateEmail(){
    var email = document.getElementById('email').value;
    emailErr.style.display = 'block';
    if(email.length == 0) {
        emailErr.innerHTML = 'Email is required';
        return false;
    }

    if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
        emailErr.innerHTML = 'Enter a valid email';
        return false;
    }
    emailErr.innerHTML = ""
    emailErr.style.display = 'none';
    return true
}

function validatePhone(){
    var phone = document.getElementById('number').value;
    phoneErr.style.display = 'block';
    if(phone.length == 0){
      phoneErr.innerHTML='Phone number is required';
      return false;
    }
    
    if(phone.length !== 10){
      phoneErr.innerHTML='Phone number should 10 digit';
      return false;
    }
    
    if(!phone.match(/^[0-9]{10}$/)){
      phoneErr.innerHTML = 'Phone number should be 10 digit';      
      return false;
    }
    phoneErr.style.display = 'none';
    return true;

}     



form.addEventListener('submit',(e)=>{
   if(!validateName() || !validateEmail() || !validatePhone() ){
    e.preventDefault()
}


    
})

</script>
<script>
//current new conform
const passwordForm = document.getElementById('changePasswordForm')
var existingPasswordError = document.getElementById('existingPasswordError');
var newPasswordError = document.getElementById('newPasswordError');
var conformPasswordError = document.getElementById('conformPasswordError');


function passwordFormValidatePassword(inputId,errorId){
    var PasswordError = document.getElementById(`${errorId}`) 
    var password = document.getElementById(`${inputId}`).value;
    PasswordError.style.display = 'block';
    if(password.length == 0){
        PasswordError.innerHTML='Password is required'; 
        setTimeout(function(){
            PasswordError.style.display = 'none';
            }, 3000)
        return false;
      }
  
     if(password.length < 8) {
        PasswordError.innerHTML = 'Password is Atleast 8 characters';
        setTimeout(function(){
            PasswordError.style.display = 'none';
            }, 3000)
        return false;
    }

    PasswordError.innerHTML = ""
    PasswordError.style.display = 'none';
    return true
}


function checkConformPassword(inputId,errorId,oldInputId){
    var PasswordError = document.getElementById(`${errorId}`) 
    var password1 = document.getElementById(`${inputId}`).value;
    var password2 = document.getElementById(`${oldInputId}`).value;
    
    PasswordError.style.display = 'block';
    if(password1 !== password2){
        PasswordError.innerHTML='Password doest match'; 
        setTimeout(function(){
            PasswordError.style.display = 'none';
            }, 3000)
        return false;
      }
    

    PasswordError.innerHTML = ""
    PasswordError.style.display = 'none';
    return true
}



passwordForm.addEventListener('submit',(e)=>{
   if(!validatePassword()||!passwordFormValidatePassword() || !conformPassword()){
    e.preventDefault()
}
})

</script>


<script>
    function deleteThisAddress(id) {
        swal({
            title: "",
            text: `Are you sure to delete Your Address "${id}" Permenently ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: `/deleteaddress/${id}`,
                    method: 'get'

                })

                swal("", "Address Deleted", "success").then(() => {
                    location.reload()
                })
            }
        })

    }


</script>





{{>user_footer}}
<script>

</script>