{{>user_header}}
<style>
    .hide {
        display: none;
    }
    .inline-block{
        display:inline-block;
    }
</style>

<!-- Shop Start -->
<div class="container-fluid mt-2">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-md-4">
            <div class="bg-light p-4 mb-30">

                <div></div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div></div>


                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="manageAddress()" class="btn btn-primary">Manage Address</button>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="profileInformations()" class="btn btn-primary">Profile Informations</button>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <button onclick="changePassword()" class="btn btn-primary">Change password</button>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <a class="btn btn-secondary" href="/logout"> Logout</a>
                </div>


            </div>

        </div>
        <!-- Shop Sidebar End -->

        <div class="col-md-8">


            <script>
                function changePassword() {
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    manageAddress.classList.add('hide')
                    profileInfo.classList.add('hide')
                    changePassword.classList.remove('hide')
                }
                function profileInformations() {
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    manageAddress.classList.add('hide')
                    profileInfo.classList.remove('hide')
                    changePassword.classList.add('hide')
                }
                function manageAddress() {
                    let manageAddress = document.getElementById('manageAddress')
                    let profileInfo = document.getElementById('profileInfo')
                    let changePassword = document.getElementById('changePassword')
                    manageAddress.classList.remove('hide')
                    profileInfo.classList.add('hide')
                    changePassword.classList.add('hide')

                }
                function show() {
                    let addAddress = document.getElementById('addAddress')
                    addAddress.classList.remove('hide')
                }
            </script>




            {{!-- manage Address --}}
            <div>
                <div id="manageAddress">
                    <h2><u>Manage Address</u></h2><br>

                    {{!-- Add address --}}
                    <div>
                        <button class="btn btn-primary" id="addAddressBtn" onclick="show()">Add Address</button>
                        <div class="hide" id="addAddress">
                            <form action="/addAddress" method="post">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Enter Address</label>
                                    <textarea class="form-control" id="" rows="3" cols="35" name="address"></textarea>
                                </div>
                                <br>
                                <button class="btn btn-success" type="submit">Submit</button>
                            </form>
                        </div>

                    </div>


                    {{!-- show existing addresses --}}
                    <br>
                    <h3 style="margin-top:25px;"><u>Existing Addresses</u></h3>
                    <br>
                    {{#each address}}


                    <div style="margin-bottom:20px;">

                    <div id="id{{this}}" class="inline-block" style="width: 500px;">
                    <label for="">{{this}}</label>
                    <button type="button" onclick="deleteThisAddress('{{this}}')" style="float: right;" class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary mx-2" onclick="showAddressEditOption('{{this}}')" style="float: right;">Edit</button>

                    </div>

                        <form action="/editAddress" method="post" class="hide" id="{{this}}">

                            <div class="form-group ">

                                <textarea name="newaddress" class="form-control" id="" rows="3" cols="35">{{this}}
                                        </textarea>
                                <textarea name="oldaddress" class="form-control hide" id="" rows="3">
                                            {{this}}
                                </textarea>

                            </div>
                            <br>

                            <button type="submit" class="btn btn-success">Save</button>
                            <a class="btn btn-primary mx-2" onclick="hideAddressEditOption('{{this}}')">Cancel</a>

                            {{!-- <button type="button" onclick="deleteThisAddress('{{this}}')" class="btn btn-danger">Delete</button> --}}
                        </form>



                    </div>
                    {{/each}}

                </div>

                <script>
                    function showAddressEditOption(id){
                        document.getElementById(id).classList.remove('hide')
                        document.getElementById(id).classList.add('inline-block')
                        document.getElementById(`id${id}`).classList.add('hide')
                        document.getElementById(`id${id}`).classList.remove('inline-block')
                    }
                    function hideAddressEditOption(id){
                        document.getElementById(id).classList.add('hide')
                        document.getElementById(id).classList.remove('inline-block')
                        document.getElementById(`id${id}`).classList.remove('hide')
                        document.getElementById(`id${id}`).classList.add('inline-block')
                    }
                </script>






                <div id="profileInfo" class="hide">
                    <section>
                        <div class="container mt-4">
                            <div class="row">

                                <div class="col-md-6">
                                    <h2><u>Edit Information</u></h2>
                                    <form action="/editpersonaldetails" method="post">
                                        <label for="name">Name</label>
                                        <input type="text" name="username" class="form-control"
                                            value="{{user.username}}">

                                        <label for="category">Gmail</label>
                                        <input type="text" name="email" class="form-control" value="{{user.email}}">


                                        <label for="price">Number</label>
                                        <input type="number" name="number" class="form-control" value="{{user.number}}">


                                        <button type="submit" class="btn btn-primary mt-4">Save</button>

                                    </form>
                                </div>


                            </div>


                        </div>
                    </section>
                </div>

                <div class="hide" id="changePassword">


                    <h2 style="margin-top:20px;"><u>Change Password</u></h2>
                    <div class="col-md-6">

                        <form action="/changepassword" method="post">
                            <label for="name">Current Password</label>
                            <input type="password" name="existingpassword" class="form-control">

                            <label for="category">New Password</label>
                            <input type="password" name="newpassword" class="form-control">


                            <label for="price">Conform New Password</label>
                            <input type="password" name="conformpassword" class="form-control">


                            <button type="submit" class="btn btn-success mt-4">Change Password</button>

                        </form>
                    </div>

                </div>
            </div>








        </div>
    </div>
</div>
<!-- Shop End -->

<script>
    function deleteThisAddress(id) {
        swal({
            title: "",
            text: `Are you sure to delete Your Address "${id}" Permenently ?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: `/deleteaddress/${id}`,
                    method: 'get'

                })

                swal("", "Address Deleted", "success").then(() => {
                    location.reload()
                })
            }
        })

    }


</script>




{{>user_footer}}
<script>

</script>