{{>user_header}}
<style>
    .undefined{
        display: none;
    }
    .hide{
        display: none;
    }
    .notundefined{
        display: block;
    }
</style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<!-- Shop Start -->
<div class="container-fluid mt-2">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">            
            <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly style="border:0; color:#1fe1f6; font-weight:bold;">
            </p>
            <div id="slider-range"></div>

            <!-- Color Start -->
            {{!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="title pr-3">Filter by
                    color</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-1">
                        <label class="custom-control-label" for="color-1">Black</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-2">
                        <label class="custom-control-label" for="color-2">White</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-3">
                        <label class="custom-control-label" for="color-3">Red</label>
                        <input type="color" name="red" id="color" on="changeColor()">
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-4">
                        <label class="custom-control-label" for="color-4">Blue</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="color-5">
                        <label class="custom-control-label" for="color-5">Green</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Color End -->

            <script>
                let color = document.getElementById('color')
                color.addEventListener('change', (event) => {
                    document.getElementById("i").style.filter = "grayscale(100%)";
                }
                )

            </>

            <!-- Size Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="title pr-3">Filter by
                    size</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-1">
                        <label class="custom-control-label" for="size-1">XS</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-2">
                        <label class="custom-control-label" for="size-2">S</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-3">
                        <label class="custom-control-label" for="size-3">M</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-4">
                        <label class="custom-control-label" for="size-4">L</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="size-5">
                        <label class="custom-control-label" for="size-5">XL</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div> --}}
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3 productJson">


                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                    data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                    data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                {{#each data}}
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1 productsList">



                    <div class="product-item bg-light mb-4">
                        <a href="detail/{{this._id}}" target="_blank">
                            <div class="product-img position-relative overflow-hidden">
                                <div style="height:350px;">
                                <img style="object-fit: contain; width: 100%; height: 100%;" id="i" src="/product_image/{{this._id}}.jpg" alt=""></div>
                                {{!-- <img class="img-fluid w-100 img" id="i" src="/product_image/{{this._id}}.jpg" --}}
                                    {{!-- alt="{{this.name}}" style="height:300px" ;> --}}
                                    {{#if this.offerPercentage}}
                                    <span style="position:absolute;top:10px;right:10px;z-index:10;"><span class="customBadge">{{this.offerPercentage}}% OFF</span></span>
                                    {{/if}}
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">{{this.name}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                     <h5>&#8377;{{#if this.offerPrice}}{{this.offerPrice}}{{else}}{{this.price}}{{/if}}</h5>
                                     {{#if this.offerPrice}}
                                     <s class="oldRate">{{this.price}}</s>
                                     {{/if}}
                                    
                                </div>
                                {{!-- <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div> --}}
                            </div>
                        </a>
                    </div>


                </div>
                {{/each}}

                {{!-- <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div> --}}
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

 <script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 500,
      max: 2000,
      values: [ 500, 2000 ],
      change: function( event, ui ) {
        var params = new URLSearchParams(window.location.search)
        var a = []
        for (const param of params) {
            a.push(param)
        }
        params = `${a[0][1]}`
        $.ajax({
                url: '/searchRateRange', 
                data: {
                    params: params,
                    min: ui.values[0],
                    max: ui.values[1]
                },
                method: 'post',
                success: (data) => {
                    $(".productsList").hide()

                    for (var i = 0; i < data.data.length; ++i) {
                        console.log(data.data[i])
                        $('.productJson').append(`<div class="col-lg-4 col-md-6 col-sm-6 pb-1 productsList">
                        <div class="product-item bg-light mb-4">
                        <a href="detail/${data.data[i]._id}" target="_blank">
                            <div class="product-img position-relative overflow-hidden">
                                <div style="height:350px;">
                                <img style="object-fit: contain; width: 100%; height: 100%;" id="i" src="/product_image/${data.data[i]._id}.jpg" alt=""></div>
                                
                                <div class="${data.data[i].offerPercentage}">
                                    <span style="position:absolute;top:10px;right:10px;z-index:10;"><span class="customBadge">${data.data[i].offerPercentage}% OFF</span></span>
                                </div>

                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">${data.data[i].name}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    
                                    <div class="${data.data[i].offerPrice}">
                                    <h5>&#8377;${data.data[i].offerPrice}
                                    <s class="oldRate">${data.data[i].price}</s></h5></div>
                                    <div class="not${data.data[i].offerPrice} hide">
                                    <h5>&#8377;${data.data[i].price}</h5>
                                    </div> 
                                </div>
                                
                            </div>
                        </a>
                    </div>
                

                </div>
                `)}
                }
            })

      },
      slide: function( event, ui ) {
        $( "#amount" ).val( "₹" + ui.values[ 0 ] + " - ₹" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "₹" + $( "#slider-range" ).slider( "values", 0 ) +
      " - ₹" + $( "#slider-range" ).slider( "values", 1 ) );
  } );
  </script>


<script>
    var params = new URLSearchParams(window.location.search)
        var a = []
        for (const param of params) {
            a.push(param)
        }
        params = `${a[0][1]}`
        document.getElementById('searchBar').value = `${params}`

</script>


{{>user_footer}}